*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
     html,body{
    width: 100%;
    height: 100%;
    }
    #container{
        width: 100%;
        height: 100%;
        background-color: black;
        position: relative;
    }
    nav{
        height: 10%;
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: /10px; */
    
    }
    nav.left img{
        height:3%;
        width: 2%;
        display: flex;
        margin: 30px 30px;
        position: absolute;
        left: 1%;
    }
    nav.right {
        color: white;
        font-weight: 600;
        margin-left: 65%;
        display: flex;
        gap: 30px;
        letter-spacing: 5px;
        font-family: sans-serif;
    }
    .page2{
        height: 120%;
        width: 100%;
        background-color: black;
    }
    .page2 h1{
        color: white;
        margin-top: 32%;
        margin-left: 3%;
        font-size: 110px;
        font-weight: 800;
    }
    .page2 span{
        color: pink;
    }
    .page2 h3{
        color: transparent;
        -webkit-text-stroke: 1px pink;
        margin-left: 3%;
        font-size: 35px;
        margin-top: 30px;
        font-weight: 700;
    }
    .ri-arrow-down-line{
        -webkit-text-stroke: .5px white;
        font-size: 80px;
        margin-top: 50%;
    }
    .page3{
        height: 120%;
        width: 100%;
        background-color: #E6E4D8;
    }
    .page3left img{
        position: absolute;
        width: 15%;
        margin-top:10%;
        margin-left: 5%;
    }
    .secondimg img{
        margin-top: 17%;
        margin-left: 15%;
        height: 75%;
        width: 40%;
    }
    .page3right h4{
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 65%;
        margin-top: 29%;
    }
    .page3right h2{
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 65%;
        margin-top: 31%;
        font-size: 55px;
        font-weight: 600;
        color: #FA4777;
    }
    .page3right p{
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 65%;
        margin-top: 36%;
        font-size: 20px;
    }
    .box{
        background-color: white;
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 65%;
        margin-top: 43%;
        padding: 20px 50px;
        border-radius: 10px;
        box-shadow: 10px 10px 3px 3px #d01446;
        letter-spacing: 5px;
    
    }

    .page4{
        width: 100%;
        height: 170%;
        background-color: black;
        
    }

    .project img{
        width: 20%;
        height: 30%;
        margin-top: 80px;
        margin-left: 70px;

    }
    .page4 hr{
        margin: 30px 60px;
    }
    #elem-container{
        padding-top: 400px;
        height: 600px;
        display: flex;
        align-items: center;
        gap: 50px;
        padding-left: 90px;
        width: 100%;
        background-color: black;
    }


.elem{
    height: 450px;
    position: relative;
    width: 360px;
    background-color: rgb(49, 41, 41);
    border-radius: 15px;
}
.elem:hover{
    border: 1px solid pink;
    cursor: pointer;
    /* background-color: #f08ba6; */
    color: white;
}

.elem img{
    top: -40%;
    position: absolute;
    height: 320px;
    width: 350px;
    right: 1%;
    object-fit: cover;
    object-position: center;
}

.elem h1{
    margin-top: 75%;
    font-size: 35px;
    margin-left: 50px;
    color: white;
}

.elem p{
    margin-left: 45px;
    font-size: 20px;
    margin-top: 15px;
    color: white;
   
}

button{
    padding: 14px 50px;
    border-radius: 6px;
    font-weight: 700; 
    margin-left: 59px; 
    margin-top: 15px;
    box-shadow: #eecfd7;
   
}

.btn-colored{
    background-color: white;
    color: black;
    border: none;
    letter-spacing: 2px;
    box-shadow: rgb(208, 20, 70);
   
}

.page5{
    width: 100%;
    height: 145%;
    background-color: black;
    display: flex; 


}

.page5 .left1{
    width: 50%;
    height: 120%;
    background-color: #FACDCD;
}
.page5 .left1 h5{
     margin-left: 15%; 
    margin-top: 40%;
}

.page5 .left1 h1{
    margin-left: 15%;
    font-size: 45px;
    margin-top: 10px;
}
.page5 .left1 h6{
    font-size: 20px;
    margin-left: 15%;
    margin-top: 15px;
}
.page5 .left1 p{
    font-size: 19px;
    margin-left: 15%;
    margin-top: 10px;

}

button{
    padding: 14px 50px;
    border-radius: 6px;
    font-weight: 700; 
    margin-left: 15%; 
    margin-top: 15px;
    box-shadow: #eecfd7;
   
}

.btan-colored{
    background-color: #ffffff;
    color: black;
    border: none;
    letter-spacing: 2px;
    box-shadow: rgb(230, 4, 64);
   
}


.page5 .right1{
    width: 50%;
    height: 120%;
    background-color:  #FACDCD;
   
}

.page6{
   
    width: 100%;
    height: 150%;
    background-color: black;
}
.page6 p{
    margin-top: 13%;
    margin-left: 45%;
    font-weight: 700;
    color: white;
  
}

.page6 h1{
    color: white;
  margin-left: 43%; 
    font-size: 50px;
   
}
.box-container{
    height: 400px;
    width: 100%; 
    background-color: black;
    padding-top:100px ;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;

}
.con{
    
    margin-top: 15%;
    height: 400px;
     width: 300px; 
    background-color: rgb(49, 41, 41);
    border-radius: 15px;

}
.con:hover{
    cursor: pointer;
    border: 1px solid pink;
}

.con img{
    width: 100%;

}
.con h2{
    color: white;
    font-size: 25px;
    margin-left: 50px;
}
.con h6{
    color: white;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 30px;

} 
 
.page7{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.page7 h3{
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin-left: 30%;


}

.page7 .youtube{
    width: 75%;
    height: 95%;
    background-color: red;
    margin-top: 13%;
    margin-left: 12%;

}
.youtube video{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/* .page8{
    
    width: 100%;
    height: 200%;
    background-color: black;

}

.page8 h1{
    margin: 0 30px;
    position: relative; 
    top: 30%;
    font-size: 65px;
    color: white;
}

.page8 p{
    margin: 0 30px;
    position: relative; 
    top: 33%;
    color: white;
    font-size: 25px;

}

.page8  hr{
    position: relative; 
    top: 40%;
     margin: 10px 45px; 

}
.page8 h2{
    position: relative; 
    top: 42%;
    color: white;
     margin-left: 40px; 
    font-size: 50px;
}



 */

 .letsstrt{

    width: 100%;
    height: 165%;
    background-color: black;

}
.letsstrt h1{
    margin: 0 30px;
    position: relative; 
    top: 30%;
    font-size: 65px;
    color: white;
    margin-left: 35px;

}
.letsstrt p{
    margin: 0 30px;
    position: relative; 
    top: 33%;
    color: white;
    font-size: 25px;

}
.letsstrt hr{
    position: relative; 
    top: 35%;
     margin: 50px 45px; 

}
.letsstrt h2{
    position: relative; 
    top: 35%;
    font-size: 45px;
     margin: 10px 45px; 
     color: transparent;
     -webkit-text-stroke: 1px white;
}
.letsstrt h2:hover{
    cursor: pointer;
    color: white;
}
.ri-arrow-right-fill{
    color: transparent;
    -webkit-text-stroke: .5 white;
    font-size: 60px;
    margin-left: 65%;
}
.icons{
    height: 10%;
    margin-top: 30%;
    background-color: black;
    color: white;
    font-size: 30px;
    margin-left: 3%;
}
.ri-dribbble-line{
    border: 2px solid white;
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 10px;
}
.ri-youtube-fill{
    border: 2px solid white;
    margin-left: 15px;
    padding: 10px 10px;
    border-radius: 10px;

}
.ri-linkedin-fill{
    border: 2px solid white;
    margin-left: 20px;
    padding: 10px 10px;
    border-radius: 10px;

}
h5{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
}